<!DOCTYPE html>
<html>
  <head>
    <title>Legal Question Answering System</title>
    <link rel="stylesheet" type="text/css" href="/static/styles.css" />
  </head>
  <body>
    <div class="menu-bar">
      <button onclick="window.location='/original-method'">
        Original Method
      </button>
      <button onclick="window.location='/retrieval-rerank'">
        Retrieval and Re-rank
      </button>
    </div>
    <div class="search-container">
      <input
        type="text"
        id="queryInput"
        placeholder="Enter your legal question here"
      />
      <button id="submitBtn" onclick="submitQueryRetrievalRerank()"></button>
    </div>
    <div id="answerSpace">Answer will appear here</div>

    <script src="/static/script.js"></script>
  </body>
</html>
